<#include "/macro.include"/>
<#assign className = table.className>   
<#assign classNameFirstLower = table.classNameFirstLower>   
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<#macro mapperEl value>${r"#{"}${value}}</#macro>
<mapper namespace="${basepackage}.dao.${className}Dao">

	<resultMap id="BaseResultMap" type="${basepackage}.domain.${className}">
        <#list table.columns as column>
		<#if column.pk>
			<id property="${column.columnNameLower}" column="${column.sqlName}" jdbcType="${column.jdbcSqlTypeName}"/>
		</#if>
		<#if !column.pk>
			<result property="${column.columnNameLower}" column="${column.sqlName}" jdbcType="${column.jdbcSqlTypeName}"/>
		</#if>
		</#list>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		<#list table.columns as column>${column.sqlName}<#if column_has_next>,</#if></#list>
	</sql>
	<!-- 根据ID查找记录-->
	<select id="get" parameterType="int" resultMap="BaseResultMap">
		select
			<include refid="Base_Column_List" />
		from
			${table.sqlName}
		where
			Fid = <@mapperEl "id"/>
	</select>
	
	<update id="update" parameterType="${basepackage}.domain.${className}">
		update ${table.sqlName}
		<set>
			<#list table.notPkColumns as column>
			<if test="${column.columnNameFirstLower} != null">
			  ${column.sqlName} = ${r'#{'}${column.columnNameFirstLower}, jdbcType=${column.jdbcSqlTypeName} ${r'}'},
			</if>
	        </#list>
		</set>
		where
			Fid = <@mapperEl "id"/>
	</update>
	
	<delete id="disable" parameterType="int">
		update ${table.sqlName}
		set 
			Fstatus = 0, 
			Fversion = Fversion+1
		where
			Fid = <@mapperEl "id"/>
	</delete>
	
	<insert id="add" useGeneratedKeys="true" keyProperty="id"
		parameterType="${basepackage}.domain.${className}">
		insert into ${table.sqlName}
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<#list table.columns as column>
			<if test="${column.columnNameFirstLower} != null">
				${column.sqlName},
			</if>
        </#list>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
	    <#list table.columns as column>
			<if test="${column.columnNameFirstLower} != null">
				${r'#{'}${column.columnNameFirstLower}, jdbcType=${column.jdbcSqlTypeName}${r'},'}
			</if>
        </#list>
		</trim>
	</insert>
	
		
	<!-- Operate by criteria -->
	
	<select id="listByCriteria" parameterType="${basepackage}.query.${className}Query$SelectQuery" resultMap="BaseResultMap">
		SELECT 
			<include refid="Base_Column_List"></include>
		<include refid="getByCriteriaSql" />
	</select>
	
	<select id="singleByCriteria" parameterType="${basepackage}.query.${className}Query$SelectQuery" resultMap="BaseResultMap">
		SELECT 
			<include refid="Base_Column_List"></include>
		<include refid="getByCriteriaSql" />
	</select>
	
	<select id="countByCriteria" parameterType="${basepackage}.query.${className}Query$SelectQuery" resultType="Integer">
		SELECT count(1)
		<include refid="getByCriteriaSql" />
	</select>
	
	<update id="updateByCriteria" parameterType="${basepackage}.query.${className}Query$UpdateQuery">
		UPDATE ${table.sqlName} RES
		<include refid="Commons.updateDataCaluseSql"/>
		<include refid="Commons.updateQuerySql"/>
	</update>

	<sql id="getByCriteriaSql">
		FROM ${table.sqlName} RES
		<include refid="Commons.querySql"/>
	</sql>
</mapper>